html {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 11pt;
  min-height: 100vh;
}

body,
footer {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(33px, 1fr) minmax(33px, 1fr) minmax(33px, 1fr) minmax(33px, 1fr) minmax(33px, 1fr) minmax(33px, 1fr)
  );
  column-gap: 1.5vw;
}

body {
  background-color: #fff;
  max-width: 916px;
  width: 100vw;
  margin: 0;
  row-gap: 2em;
  grid-template-rows: /* If using "repeat", negative row designation seems to not work. Weird. */
    min-content
    min-content
    min-content
    min-content
    min-content
    1fr
    min-content;
}

nav {
  grid-column: 2 / -2;
}

/* HEADER */

header {
  grid-column-start: 2;
  grid-column-end: -2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header img {
  max-height: 16em;
  width: 100vw;
}

/* LANGUAGE */

nav.language-switch {
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5em;
}

nav.language-switch::before {
  width: 24px;
  height: 24px;
  margin-right: 0.5em;
  display: block;
  content: "";
  background-image: url("images/Language-Icon.svg");
  background-size: cover;
}

nav.language-switch a {
  background-color: #fff;
  width: 24px;
  height: 24px;
  margin: 0 0.25em;
  text-align: center;
  line-height: 23px;
  border: 2px solid #f8f8f8;
  border-radius: 50%;
  color: #000;
  text-decoration: none;
}

nav.language-switch a:hover {
  border-color: #efd3cd;
}

nav.language-switch a.selected {
  background-color: #ef4c24;
  color: #fff;
}

/* MAIN */

main {
  grid-column-start: 2;
  grid-column-end: -2;

  column-width: 18em;
  column-gap: 1.5em;
}

main p {
  margin-top: 0;
  margin-bottom: 0;
}

main p + p {
  text-indent: 1em;
}

/* GAMES */
nav.games {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 1em;
  margin-bottom: 1em;
}

nav.games a {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-decoration: none;
  color: #000;
}

nav.games img {
  border-radius: 50%;
  border: 0.5em solid transparent;
}

nav.games a span {
  display: block;
  text-align: center;
  margin-top: 0.5em;
  padding: 0.25em 1em;
  border-radius: 1em;
}

nav.games a:not(.inactive):hover img {
  border-color: #efd3cd;
}
nav.games a:not(.inactive):hover span {
  background-color: #efd3cd;
}

/* Inactive games */
nav.games a.inactive {
  position: relative;
}

nav.games a.inactive::after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "Kommer snart";
  background-color: rgba(255, 255, 255, 0.9);
  display: grid;
  align-content: center;
  text-align: center;
  cursor: default;
}

/* BIGGIES */

nav.games.smallies img {
  width: 190px;
}

nav.games.biggies a {
  margin-left: 1.5em;
  margin-right: 1.5em;
  margin-bottom: 1.5em;
}

/* SMALLIES */

nav.games.smallies img {
  width: 85px;
}

nav.games.smallies a {
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 3em;
}

nav.games.smallies span {
  margin-top: 0.25em;
}

/* OTHER */

.other h2 {
  width: 100%;
  text-align: center;
}

/* FOOTER */

footer {
  background-color: #333333;
  color: #fff;
  padding: 2em 0em;
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: -2;
}

footer p {
  grid-column: 2 / -2;
}

footer p a {
  color: #fff;
}

footer img {
  height: 1em;
}
