html {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 11pt;
  min-height: 100vh;
}

body,
footer {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  column-gap: 1.5em;
}

body {
  background-color: #fff;
  max-width: 916px;
  width: 100vw;
  margin: 0;
  row-gap: 2em;
  grid-template-rows: /* If using "repeat", negative row designation seems to not work. Weird. */
    min-content
    min-content
    min-content
    min-content
    min-content
    1fr
    min-content;
}

nav {
  grid-column: 2 / -2;
}

/* HEADER */

header {
  grid-column-start: 2;
  grid-column-end: -2;
  display: flex;
  justify-content: center;
}

header img {
  max-height: 16em;
  max-width: 100%;
}

/* MAIN */

main {
  grid-column-start: 2;
  grid-column-end: -2;

  column-width: 17em;
  column-gap: 1.5em;
}

main p {
  margin-top: 0;
  margin-bottom: 0;
}

main p + p {
  text-indent: 1em;
}

/* GAMES */

nav.games {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 1em;
  margin-bottom: 1em;
}

nav.games a {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-decoration: none;
  color: #000;
}

nav.games img {
  border-radius: 50%;
  border: 0.5em solid transparent;
}

nav.games a span {
  display: block;
  text-align: center;
  margin-top: 0.5em;
  padding: 0.25em 1em;
  border-radius: 1em;
}

nav.games a:hover img {
  border-color: yellow;
}
nav.games a:hover span {
  background-color: yellow;
}

/* BIGGIES */

nav.games.smallies img {
  width: 190px;
}

nav.games.biggies a {
  margin-left: 1.5em;
  margin-right: 1.5em;
  margin-bottom: 1.5em;
}

/* SMALLIES */

nav.games.smallies img {
  width: 85px;
}

nav.games.smallies a {
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 3em;
}

nav.games.smallies span {
  margin-top: 0.25em;
}

/* OTHER */

.other h2 {
  width: 100%;
  text-align: center;
}

/* FOOTER */

footer {
  background-color: #333333;
  color: #fff;
  padding: 2em 0em;
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: -2;
}

footer p {
  grid-column: 2 / 12;
}

footer p a {
  color: #fff;
}

footer img {
  height: 1em;
}
